<h1>Nova Despesa de Cartão de Crédito</h1>

<%= form_for @credit_card_expense do |f| %>
  <div class="">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="">
    <%= f.label :value %>
    <%= f.number_field :value %>
  </div>

  <div class="">
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div class="">
    <%= f.label :category %>
    <%= f.select :category_id, current_user.categories.expense.collect {|c| [ c.name, c.id ] }, {prompt: 'Selecione uma categoria' } %>
  </div>

  <div class="">
    <%= f.label :credit_card %>
    <%= f.select :credit_card_id, current_user.credit_cards.collect {|c| [ c.name, c.id ] }, {prompt: 'Selecione um cartão de crédito' } %>
  </div>

  <div class="">
    <%= f.submit "Adicionar" %>
  </div>
<% end %>
