<nav id="sidebar">
  <ul>
    <li> <i class="fa fa-user"></i> <%= link_to 'Dashboard', '#' %></li>
    <li class="selected"><%= link_to 'Despesas', expenses_path %></li>
    <li><%= link_to 'Receitas', incomes_path %></li>
    <li><%= link_to 'Categorias', '#' %></li>
    <li><%= link_to 'Cartões de Crédito', '#' %></li>
    <li><%= link_to 'Relatórios', '#' %></li>
    <li><%= link_to 'Sair', destroy_user_session_path, :method => :delete %>  </li>
  </ul>
</nav>
