<%= form_for @expense do |f| %>
  <div class="form-group row">
    <div class="col-md-12">
      <%= f.label 'Descrição' %>
      <%= f.text_field :description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.label 'Data da Despesa' %>
      <%= f.date_field :expensed_at, class: 'form-control' %>
    </div>

    <div class="col-md-6">
      <%= f.label 'Valor Total'%>
      <%= f.number_field :value, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <%= f.label 'Categoria'%>
      <%= f.select :category_id, current_user.categories.expense.collect {|c| [ c.name, c.id ] }, {prompt: 'Selecione uma categoria' }, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <%= f.label 'Forma de Pagamento'%>
      <%= f.select :form_of_payment, Expense.form_of_payments.collect {|c| [ c[0].capitalize, c[0] ] }, {prompt: 'Forma de Pagamento' }, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <%= f.label 'Cartão de Crédito', style: 'display: none;' %>
      <%= f.select :credit_card_id, current_user.credit_cards.collect {|c| [ c.name, c.id ] }, {prompt: 'Escolha um cartão de crédito' }, class: 'form-control', style: 'display: none' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-1">
      <div class="checkbox">
        <label><%= f.check_box :paid %> Pago</label>
      </div>
    </div>
    <div class="col-md-1">
      <div class="checkbox">
        <label><%= f.check_box :parceled %> Parcelado</label>
      </div>
    </div>

    <div id="number-of-parcels" style="display:none">
      <div class="col-md-2">
        <div class="checkbox">
          <label class=""><strong>Número de Parcelas</strong></label>
        </div>
      </div>
      <div class="col-md-1">
        <%= text_field_tag(:number_of_parcels, '' , class: 'form-control') %>
      </div>
    </div>
  </div>

  <div id="parcels"></div>

  <div class="row">
    <div class="col-md-12">
      <%= f.submit "Adicionar", class: 'btn btn-success' %>
    </div>
  </div>

  <% end %>
</div>
