<table class="table table-striped">
  <thead>
    <tr>
      <th>Parcela</th>
      <th>Vencimento</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <% @parcels.each do |p| %>
    <tr>
      <td><%= p.number %></td>
      <td><input type="date" name="expense[parcels_attributes][<%= p.number-1 %>][due_date]" value="<%= p.due_date %>" class="form-control"></td>
      <td><input type="number" name="expense[parcels_attributes][<%= p.number-1 %>][value]" value="<%= p.value %>" class="form-control"></td>
    </tr>
    <% end %>
  </tbody>
</table>
