<%= search_form_for @search do |f| %>
  <div class="col-md-2">
    <div class="form-group">
      <%= f.select(:year_eq, current_user.expenses.years_range, {}, {class: 'form-control'}) %>
    </div>
  </div>

  <div class="col-md-8">
    <div class="btn-group" data-toggle="buttons">
      <% (1..12).each do |month| %>
        <% active = 'active' if @filtered_month == month %>
        <%= f.label "month_eq_#{month}", t('date.month_names')[month].slice(0,3), class: "btn btn-primary #{active}" %>
        <%= f.radio_button :month_eq, month, style: "display: none;" %>
      <% end %>
    </div>
  </div>

  <div class="col-md-2">
    <%= link_to 'Nova', new_expense_path, class: 'btn btn-primary pull-right' %>
  </div>
  <%= f.submit 'Atualizar', id: 'refresh-search', style: "display: none;" %>
<% end %>
