<%= search_form_for @search do |f| %>
  <div class="col-md-2">
    <div class="form-group">
      <%= f.select(:year_eq, current_user.expenses.years_range, {}, {class: 'form-control', onchange: 'this.form.submit();'}) %>
    </div>
  </div>

  <div class="col-md-8">
    <div class="btn-group" data-toggle="buttons">
      <% (1..12).each do |month| %>
        <label class="btn btn-primary <%= 'active' if @filtered_month == month %>">
          <%= f.radio_button :month_eq, month, onclick: 'this.form.submit();' %>
          <%= t('date.month_names')[month].slice(0,3) %>
        </label>
      <% end %>
    </div>
  </div>

  <div class="col-md-2">
    <%= link_to 'Nova', new_expense_path, class: 'btn btn-primary pull-right' %>
  </div>
  <%= f.submit 'Atualizar', id: 'refresh-search', style: "display: none;" %>
<% end %>
