<h1>Despesas</h1>
<hr>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'Nova', new_expense_path, class: 'btn btn-primary pull-right' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <thead>
        <th>Pago</th>
        <th>Desrição</th>
        <th>Valor</th>
        <th>Data</th>
        <th>Categoria</th>
      </thead>
      <tbody>
        <% @expenses.each do |expense| %>
          <tr>
            <td><%= expense.is_payed? %></td>
            <td><%= expense.description %></td>
            <td><%= expense.value %></td>
            <td><%= expense.date %></td>
            <td><%= expense.category.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
