<!DOCTYPE html>
<html>
  <head>
    <title>Housecontrol</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid" id="main">
      <%= render 'shared/sidebar' if user_signed_in?  %>
      <div class="row">
        <div class="col-md-10" id="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
